@import "tailwindcss";
@plugin "daisyui";
body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f0f0f0;
}

body.dark {
  --bg-color: #110230;
  --text-color: #ffffff;
  --card-bg: #1a1a3c;
}
